
*{box-sizing: border-box;}

table#cartTable {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  width: 45%;
  bottom: 1;
  margin-left: 25px;
  margin-top: 20px; 
  float: left;
  }
table.center {
  }
td, th {
  width: 130px;
  padding: 8px;
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th {
  text-transform: uppercase;
   background-color: #f34d35;
  border-top: none;
}


#Checkout{
  float: left;
  margin-top: 18px;
  margin-left: 20%;
}



form {
  width: 140px;
  margin: 0 auto;
  text-align: center;
  padding-top: 1px;
  display: block;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input.number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  margin: auto;
  width: 85%;
}

.button4:hover {background-color: #e7e7e7;}