<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <h1>Administrator Page</h1>
    <nav>
        <a href="/administrator">Main</a> |
        <a href="/administrator/add">Add</a> |
        <a href="/administrator/remove">Remove</a> |
        <a href="/administrator/update">Update</a>
    </nav>
</body>
</html>