<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminFragments :: head"></head>
<body class="container">
    <h1 th:text="${title}"></h1>

    <nav th:replace="adminFragments :: navigation"></nav>

    <form method="post" style="max-width:600px; margin-top:2%">
        <div class="form-group">
            <label for="itemId">Item ID</label>
            <input type="number" step="1" name="itemId" id="itemId" class="form-control"/>
        </div>

        <input type="submit" value="Remove Item" class="btn btn-primary"/>
    </form>

    <div class="alert alert-warning" style="margin-top:2%">
        <strong>Warning!</strong> The item will be deleted permanently.
    </div>
</body>
</html>