<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <h1>Update menu item</h1>
    <nav>
        <a href="/administrator">Main</a> |
        <a href="/administrator/add">Add</a> |
        <a href="/administrator/remove">Remove</a>
    </nav>

    <form method="post" style="max-width:600px; margin-top:2%">
        <div class="form-group">
            <label for="itemId">item id</label>
            <input type="number" step="1" id="itemId" name="id" required/>
        </div>

        <div class="form-group">
            <label for="itemTitle">New title</label>
            <input type="text" id="itemTitle" name="name" required/>
        </div>

        <div class="form-group">
            <label for="itemDescription">New Description</label>
            <input type="text" id="itemDescription" name="description" required/>
        </div>

        <div class="form-group">
            <label for="itemPrice">New Price</label>
            <input type="number" step="0.01" id="itemPrice" name="price" required/>
        </div>

        <div class="form-group">
            <label>New Price</label>
            <input type="radio" id="available" name="isAvailable" value="true" required/>
            <label for="available">Available</label>
            <input type="radio" id="unavailable" name="isAvailable" value="false" required/>
            <label for="unavailable">Unavailable</label>
        </div>

        <input type="submit" value="Update item"/>
    </form>
</body>
</html>