<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Administrator Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:fragment="navigation">
        <a href="/dashboard/restaurant">Main</a> |
        <a href="/dashboard/restaurant/add">Add</a> |
        <a href="/dashboard/restaurant/remove">Remove</a> |
        <a href="/dashboard/restaurant/update">Update</a>
    </nav>
</body>
</html>